h1{
    font-size: 30px;
    color: blue;
}
h3{
    color: blue;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0;
}
p{
    color: antiquewhite;
}
section{
    background-color: #f2f;
    padding: 66px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

@media (min-width: 0) { 
    html,body{
        background-color: red;
        font-size: 14px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 100%;
    }
    #album img{
        width: 100%;
        height: 10rem;
    }
    #album .item{
        margin: .25rem;
        padding: .25rem;
        border: 1rem solid darkblue;
        border-radius: 15%;
        overflow: hidden;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    html,body{
        background-color: yellow;
        font-size: 16px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 50%;
    }
    #album img{
        width: 100%;
        height: 10rem;
    }
    #album .item{
        margin: .25rem;
        padding: .25rem;
        border: 1rem solid white;
        border-radius: 15%;
        overflow: hidden;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html,body{
        background-color: green;
        font-size: 18px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 33.33%;
    }
    #album img{
        width: 100%;
        height: 10rem;
    }
    #album .item{
        margin: .25rem;
        padding: .25rem;
        border: 1rem solid red;
        border-radius: 15%;
        overflow: hidden;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html,body{
        background-color: blue;
        font-size: 20px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 20%;
    }
    #album img{
        width: 100%;
        height: 10rem;
    }
    #album .item{
        margin: .25rem;
        padding: .25rem;
        border: 1rem solid black;
        border-radius: 15%;
        overflow: hidden;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    html,body{
        background-color: violet;
        font-size: 22px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 10%;
    }
}

@media (min-width: 1600px) { 
    html,body{
        background-color: pink;
        font-size: 22px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 10%;
    }
}
@media (min-width: 1920px) { 
    html,body{
        background-color: red;
        font-size: 22px;
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 10%;
    }
}